.flex-container{
    display: flex;
    justify-content: center;
}

.main-beginning{
    display: grid;
    grid-template-columns: 400px 400px;
    column-gap: 60px;
    margin-top: 150px;
}

.main-body-title-container h1{
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 1.325;
}


.main-body-title-container p{
    color: rgb(113, 128, 150);
    line-height: 1.625;
}

.image-container img{
    border-radius: 4px;
}

.learn-more-button{
    background-color: rgba(35, 134, 247, 0.89);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    
}

.learn-more-button:hover{
    background-color: rgba(20, 100, 200, 0.89);
}

.get-free-quote-button{
    background-color: rgba(35, 134, 247, 0.89);
    border: none;
    padding: 15px 30px;
    color: white;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
}
.get-free-quote-button:hover{
    background-color: rgba(20, 100, 200, 0.89);
}


.team-qualities-container{
    margin-top: 200px;
    width: 680px;
    text-align: center;
    
}

.team-qualities-container h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
    font-weight: 500;
}

.team-qualities-container p{
    color: rgb(113, 128, 150);
    line-height: 1.625;
    text-align: center;
}

.service-quality-container{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 450px 450px;
    column-gap: 50px;
}

.left-container, .right-container{
    border-left: 2px solid rgb(240, 240, 240);
    padding-left: 40px;
}

.container1, .container3{
    min-height:250px ;
}

.left-container h2, .right-container h2{
    margin-bottom: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.left-container p, .right-container p{
    color: rgb(113, 128, 150);
    line-height: 1.625;
    margin-bottom: 20px;
}

header {
    font-family: 'body-font';
    color: #6b7280;
  }
  
  header .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  header .container > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #111827;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  
  header .container > a img {
    width: 6rem;
    height: 5rem;
    padding: 0.5rem;
    background-color: #f5f5f5;
    border-radius: 50%;
  }
  
  header .container > a span {
    margin-left: 0.75rem;
    font-size: 1.25rem;
  }
  
  header .container nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-left: 1px solid #d1d5db;
  }
  
  header .container nav a {
    margin-right: 1rem;
    text-decoration: none;
    color: #6b7280;
  }
  
  header .container nav a:hover {
    color: #111827;
  }
  
  header .container nav .relative {
    position: relative;
  }
  
  header .container nav .relative button {
    background: none;
    border: none;
    cursor: pointer;
    color: #6b7280;
  }
  
  header .container nav .relative button:hover {
    color: #111827;
  }
  
  header .container nav .relative .absolute {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #e2e8f0;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    width: 12rem;
  }
  
  header .container nav .relative:hover .absolute {
    display: block;
  }
  
  header .container nav .relative .absolute a {
    display: block;
    padding: 0.5rem;
    color: #111827;
    text-decoration: none;
  }
  
  header .container nav .relative .absolute a:hover {
    background-color: #f5f5f5;
  }

  .relative button{
    text-decoration: none;
    margin-right: 20px;
    color: rgb(113, 128, 150);
    font-size: 15px;
  }